@using Microsoft.AspNetCore.Identity
@using NorSalStaff_0._1.Models.UserModels;
@inject UserManager<ApplicationUser> userManager
@model IEnumerable<ApplicationUser>
@{
    ViewData["Title"] = "Accounts";
}

<h1>Accounts</h1>

@if (Model.Any())
{
    <p>
        <a asp-action="Register">Register New User</a>
    </p>
    @*
            <table class="table">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.First().Id)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.First().Name)
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelitem => item.Id)
                        </td>
                        <td>
                            @Html.DisplayFor(modelitem => item.Name)
                        </td>
                        <td>
                            <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                            <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                            <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    *@
    @foreach (var user in Model)
    {
        <div class="card mb-3">
            <div class="card-header">
                Role Id : @Html.DisplayFor(modelUser => user.Id)
            </div>
            <div class="card-columns">
                <div class="card-body">
                    <h5 class="card-title">Username :</h5>
                    <h5>@Html.DisplayFor(modelUser => user.UserName)</h5>
                </div>
                <div class="card-body">
                    <h5 class="card-title">User's Email :</h5>
                    <h6>@Html.DisplayFor(modelUser => user.Email)</h6>
                </div>
                <div class="card-body">
                    <h5 class="card-title">Phone Number :</h5>
                    <h6>@Html.DisplayFor(modelUser => user.PhoneNumber)</h6>
                </div>
            </div>
            <div class="card-footer">
                <form method="post" asp-action="Delete" asp-route-id="@user.Id">
                    <a class="btn btn-primary" style="width:75px" asp-action="Edit" asp-route-id="@user.Id">Edit</a>
                    <a class="btn btn-info" style="width:75px" asp-action="Details" asp-route-id="@user.Id">Details</a>

                    <span id="ConfirmDelete_@user.Id" style="display:none">
                        <span style="color:red">ARE YOU SURE YOU WANT TO DELETE THIS USER '<b>@user.UserName</b>'?</span>
                        <button type="submit" class="btn btn-danger" style="width:75px">Yes</button>
                        <a href="#!" class="btn btn-primary" style="width:75px" onclick="confirmDelete('@user.Id', false)">No</a>
                    </span>
                    <span id="DeleteBtn_@user.Id">
                        <a href="#!" class="btn btn-danger" style="width:75px" onclick="confirmDelete('@user.Id', true)">Delete</a>
                    </span>
                </form>
            </div>
        </div>
    }
}
else
{
    <div class="card">
        <div class="card-header">
            No Users to display
        </div>
        <div class="card-body">
            <h5>There is no users in the database to display.</h5>
            <br />
            <a class="btn btn-primary" asp-action="Register">Create a new user?</a>
        </div>
    </div>
}

@section Scripts {
    <script src="~/js/deleteConfirmation.js"></script>
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}